<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userInterfaceService" class="ru.gurkin.spring.usertesting.service.impl.UserInterfaceServiceImpl"/>
	<bean id="testServiceDao" class="ru.gurkin.spring.usertesting.dao.impl.TestServiceTestDaoImpl"/>
    
    <bean id="userTestingService" class="ru.gurkin.spring.usertesting.service.impl.UserTestingServiceImpl">
        <constructor-arg name="userInterfaceService" ref="userInterfaceService"/>
        <constructor-arg name="testService" ref="testServiceDao"/>
    </bean>
</beans>
