<h2 style="text-align:center">Select page:</h2>
<div class="card">
  <a [routerLink]="['/authors']">
    <mat-icon class="icon">face</mat-icon>
    <span class="label">Authors</span>
  </a>
</div>
<div class="card" >
  <a [routerLink]="['/genres']">
    <mat-icon class="icon">subject</mat-icon>
    <span class="label">Genres</span>
  </a>
</div>
<div class="card">
  <a [routerLink]="['/books']">
    <mat-icon class="icon">library_books</mat-icon>
    <span class="label">Books</span>
  </a>
</div>
<div class="card">
  <a [routerLink]="['/about']">
    <mat-icon class="icon">info</mat-icon>
    <span class="label">About</span>
  </a>
</div>
