.card {
  min-width: 80%;
}

.row-container {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  text-align:center;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.blocks {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display:inline;
  text-align:center;
}

.fixed-button{
  height:40px;
  width:110px;
}

a {
  cursor: pointer;
}

