/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

/*.card {
  padding: .5rem 1rem;
  border: 1px dashed #ccc;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

  h2{
    margin-bottom:  .5rem;
  }
}*/
